.showCard {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    padding-right: 1rem;
    gap: 1rem;
    min-width: 290px;
    background: linear-gradient(
      90deg,
      rgba(212, 220, 228, 1) 0%,
      rgba(255, 255, 255, 1) 55%,
      rgba(212, 220, 228, 1) 100%
    );
  }

.descprofileLi{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: .3rem;
}
.descProfileBtn{
  font-size: 1.1rem;
  width: 90px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}