.sliderImg{
    width: 100%;
    min-height: 350px;
}
.swiper{
    min-height: 430px !important;
}
.rowCol{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lenzBox{
    background-image: url("../../assets/images/lenzBg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin:2rem 0;
}
.bannerBox{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerCol{
    display: grid;
    place-items: center;
}
.bannerBox img{
    width: 100%;
    max-width: 600px;
}

.cardTitle{
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width:1050px) {
    .bannerBox{
        flex-direction: column;
        gap: 2rem;
    }
   
}