.signupWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    height: 100vh;
  }
  
.inputBox {
  width: 350px;
  height: 44px;
}
.inputBoxCaptcha{
  position: relative;
}
.inputBoxTitle {
  font-weight: 600;
  font-size: 1rem;
  min-width: 70px;
}

.singupBox {
  border-radius: "25px";
  width: 520;
  display: "flex";
  align-items: "center";
  justify-content: "center";
  padding: 1rem 2rem;
  background: rgb(212, 220, 228);
  background: linear-gradient(
    90deg,
    rgba(212, 220, 228, 1) 0%,
    rgba(255, 255, 255, 1) 55%,
    rgba(212, 220, 228, 1) 100%
  );
}

