.titleLine{
    width: 245px;
    border: 2px solid #F0E68C;
    margin-top: .6rem;
}
.titleBox{
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.titleDot{
    font-size: 1.7rem;
}
.descBox{
    padding-right: 1.4rem;
    font-size: 1.1rem;
}