.navContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.navHeadLine{
    background-color: #6fb5be69;
    padding: 1rem 2rem;
}
.navCol{
    display: flex;
    gap: 1.4em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.navCol Link{
    color: var(--text-primary);
}
.navListBody Link{
    color: red;
}
.navCol h4{
    font-size: 1.3rem;
    color: var(--text-primary);
}
.navUi{
    display: flex;
    gap: 2.2em;
    margin-top: 1rem;
}
.navColList{
    display: none;
    transition: .2s ease-in-out;

}
.navColListActive{
    position: absolute;
    top: 40px;
    right: -4px;
    display: flex;
    gap: 1.3rem;
    justify-content: space-evenly;
    min-width: 250px;
    background-color: #e7e6e6;
    z-index: 1000;
    border-radius: 10px;
    transition: .2s ease-in-out;
    padding: .9rem;
}
.navListTitleLine h3{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .2rem;
    color: #4f4f4f !important;
}
.navList{
    min-width: 130px;
}

.navColIC{
    font-size: .8rem;
}
.navHandle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   padding-left: 4rem;
    position: relative;
    min-width: 300px
}
.navUser{
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 1.4rem;
    gap: 1.6rem;
   
}
.navSearch{
    position: absolute;
    top: 4rem;
   
    gap: 1rem;

}
.navSearchBox{
    display: flex;
    align-items: center;
    gap: .5rem;
   
}
.navSearchBox Input{
    min-width: 210px;
}
.navSearchBox button{
    width:75px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 60px;
    border-radius: 10px;
}
.navUserIc{
    font-size: 1.5rem;
    cursor:pointer;
    transition: .2s ease-in-out;
}
.navUserIc:hover{
    cursor:pointer;
    color: #6fb5be69;
    scale: 1.1;
   
}
.navListBody{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.navListTitleLine{
    display: block;
    border-bottom: 2px solid #eada4c;
    text-align: center;
    color: #4f4f4f !important;
}
.navListBody li{
    text-align: center;
}