.navContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.navHeadLine{
    background-color: #6fb5be69;
    padding: 1rem 2rem;
}
.navCol{
    display: flex;
    gap: 1.4em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.navCol h4{
    font-size: 1.3rem;
}
.navUi{
    display: flex;
    gap: 2.2em;
    margin-top: 1rem;
}
.navColList{
    display: none;
    transition: .2s ease-in-out;

}
.navColListActive{
    position: absolute;
    top: 40px;
    right: -4px;
    display: flex;
    gap: .5rem;
    justify-content: space-evenly;
    min-width: 350px;
    background-color: #e7e6e6;
    z-index: 1000;
    border-radius: 10px;
    transition: .2s ease-in-out;
    padding: .7rem;
}
.navListTitleLine h3{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .2rem;
}

.navColIC{
    font-size: .8rem;
}
.navUser{
    display: flex;
    align-items: baseline;
    padding-top: 1.4rem;
    gap: 1.4rem;
    transform: translateX(3rem);
}
.logo{
    width: 60px;
    border-radius: 10px;
}
.navUserIc{
    font-size: 1.5rem;
    cursor:pointer;
    transition: .2s ease-in-out;
}
.navUserIc:hover{
    cursor:pointer;
    color: red;
    scale: 1.1;
   
}
.navListBody{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.navListTitleLine{
    display: block;
    border-bottom: 2px solid #eada4c;
    text-align: center;
}
.navListBody li{
    text-align: center;
}