.descProfileBtn {
  font-size: 1.1rem;
  width: 80px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prContainer {
  min-height: 60vh;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--background) !important;

}

.showCard {
  display: flex;
  flex-direction: column;
    padding: 1rem .5rem;
    padding-right: 1rem;
  gap: 1rem;
  min-width: 290px;
  background: linear-gradient(
    90deg,
    rgba(212, 220, 228, 1) 0%,
    rgba(255, 255, 255, 1) 55%,
    rgba(212, 220, 228, 1) 100%
  );
}

.activePart{
    width: 100px;
    display: block;
    border-bottom: 3px solid #F0E68C;
    text-align: center;
    line-height:30px;
    cursor:pointer;
}
.part{
    width: 100px;
    display: block;
    text-align: center;
    line-height:30px;
    cursor:pointer;
}
.shopIc{
  cursor: pointer;
  font-size: 1.7rem 
}
.shopIcActive{
  cursor: pointer;
  font-size: 1.7rem;
  color:red
}